# =============================================================================
# @file    requirements.txt
# @brief   Python dependencies for %REPO_NAME%
# @created %CREATION_DATE%
# @license Please see the file named LICENSE in the project directory
# @website https://github.com/caltechlibrary/%REPO_NAME%
# =============================================================================

boltons
plac
sidetrack
